.link{
    cursor: pointer;
    font: normal 600 1em var(--font);
    color: var(--color);

    transition: all .3s ease;
}
.detach{
    color: var(--color-secundary);
}

.link_spaced{
    padding: 10px;

    border-radius: 15px;

    text-align: center;
}


@media screen and (min-width: 481px) {
    .link:hover{
        color: var(--color-main);
    }
    .detach:hover{
        color: var(--color);
    }
}

.link:active{
    color: var(--color-basic);

    transition: all .1s ease;
}

.link_spaced:active{
    background-color: var(--color-basic);

    color: var(--color-bg);
}